body{
   text-align: center;
   font-family: verdana, sans-serif;
   background: #f2f2f2 !important;
}
h1{
   font-size: 2em;
   font-weight: bold;
   color: #777777;
   margin: 40px 0px 70px;
   text-align: center;
}
table{
	min-height: 100%;
	max-width: 1280px;
	margin: 0 auto;
	background: #fff
}
.dockpanel{
	width: 100%;
}

.dockpanel td {
   border: 1px solid #BBBBBB;
   padding: 3px;
}

.headerPanel{
	width: 100%;
}

