
body {
	text-align: center;
	font-family: verdana, sans-serif;
	background: #f2f2f2 !important;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

table {
	min-height: 100%;
	max-width: 1280px;
	margin: 0 auto;
}


td {
	
}

.headerPanel{
	width: 1280px;
}
.footerPanel{
	width: 1070px;
	background-color: #90A4AE;
	padding: 8px;
}

.lbheadlineNoteit {
	font-family: 'Marck Script', cursive;
	text-align: center;
	color: rgba(255, 255, 255, .6);
	font-size: 4rem;
	font-weight: 700;
	padding: 3%;
}

.lblImpressum{
	padding: 8px;
}
.impressumHeadline{
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	padding-bottom: 10px;
}
.lblCopyright{
	text-align: right;
	margin-top: 8px;
}

.headlinePanel {
	background-color: #607D8B;
}
.com-google-gwt-user-cellview-client-CellList-Style-cellListKeyboardSelectedItem{
	background-color: #90A4AE !important;
	color: white
}

table.vpLeft{
	padding-right: 8px;
border-right: 1px solid #90A4AE;
height: 473px
}

table.vpRight{
	padding-left: 8px;
	
}

.gwt-Button{
	margin-right: 10px !important;
}

img.addImage{
	vertical-align: middle;
	
}

.lblPermissionText{
	margin-top:20px;
}

span.addImageText{
	vertical-align: middle;
	height: 30px;
	padding-left: 4px
}
div.gwt-PushButton.gwt-PushButton-up, img.gwt-Image{
	width:12px;
	outline: none
}

.navPanel {
	background-color: #90A4AE;
	padding: 8px;
}

.navLeftPanel {
	display:block;
	float: left;
	height: 100%;
	background-color: #90A4AE;
}

.navRightPanel {
	background-color: #90A4AE;
}

.vpLeft {
	display:block;
	float: left;
	height: 100%;
	
}

iframe.gwt-RichTextArea{
	margin-bottom: 20px;
}

.menu {
	background-color: #90A4AE;
	padding-right: 8px;
	float: right;
}

tr .headerPanel {
	width: 100%;
}

.contentPanel {
	padding: 8px;
	background: #fff;
}

.headerDetailView {
	width: 98%;
	border-bottom: 1px solid #90A4AE;
	margin-left: 8px;
	
}

.lblHeaderTitel {
	float: left;
	font-weight: bold;
}

.showDetailContent {
	padding-top: 8px;
	padding-left: 8px;
}

.vpRightDetailContent{
	padding-left: 8px;
}

.vpAddPermissionNotebook {
	display: block
}
.lblNoteDate{
	float: right;
	color: #9199a1;
}
input.gwt-TextBox, input.gwt-DateBox{
border: 0px;
border-bottom: 1px solid #90A4AE;
height: 30px;
margin-bottom: 20px;
padding-left:0px
}
input:focus, textarea:focus {
    outline: none;
}
input.gwt-TextBox:focus, input.gwt-DateBox:focus{


border-bottom: 1px solid #3a4b54;
height: 30px;
margin-bottom: 20px;
}

iframe.gwt-RichTextArea{
	border: 1px solid #90A4AE;
}
iframe.gwt-RichTextArea:focus{
	border: 1px solid #3a4b54;
}

input.tbSearchNotebook{
}

.com-google-gwt-user-cellview-client-CellBrowser-Style-cellBrowserOpenItem{
	background: #90A4AE;
}

span.dffasfs{
	color: #9199a1;
}
span.dateBefore{
	color: red;
}
span.dateToday{
	color: green;
}


